<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Виртуальный помощник волонтера </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}"> ВИРТУАЛЬНЫЙ ПОМОЩНИК ВОЛОНТЕРА </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bstarget="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}"> Выход </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <hr/>
    <a th:href="@{/addPetForm}" class="btn btn-primary">Создать питомца</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="petTable">
        <thead>
        <tr>
            <th>Питомцы</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pet: ${pets}">
            <td th:text="${pet.nickname}" />
            <td>
                <a th:href="@{/showUpdateForm(petId=${pet.id})}" class="btn btn-primary">Изменить карточку питомца</a>
                <a th:href="@{/deletePet(petId=${pet.id})}" class="btn btn-danger ml2">Удалить запись</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#petTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    })
</script>
</body>
</html>
